/***********************************************/
/***   HEPBURN COMMUNITY SPARKS ANIMATION    ***/
/***********************************************/


/**** Hepburn Energy brand palette ****/
:root {
  --logoGreen:     #4BA5A2; 
  --he-green:      #00F4A7; 
  --he-navy:       #011E48;
  --he-blue:       #0C4CD4;
}

/* Hepburn Energy loaded brand fonts */
@font-face {
    font-family: 'Maison Neue';
    src: local('Maison Neue Medium'), local('Maison Neue Medium'),
        url('../assets/fonts/MaisonNeue-Medium.woff') format('woff'),
        url('../assets/fonts/MaisonNeue-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: medium;
}
@font-face {
    font-family: 'Maison Neue';
    src: local('Maison Neue'), local('Maison Neue'),
        url('../assets/fonts/MaisonNeue-Light.woff') format('woff'),
        url('../assets/fonts/MaisonNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'Maison Neue';
    src: local('Maison Neue Bold'), local('Maison Neue Bold'),
        url('../assets/fonts/MaisonNeue-Bold.woff') format('woff'),
        url('../assets/fonts/MaisonNeue-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}
@font-face {
    font-family: 'Maison Neue Mono';
    src: local('Maison Neue Mono'), local('Maison Neue Mono'),
        url('../assets/fonts/MaisonNeue-MonoRegular.woff') format('woff'),
        url('../assets/fonts/MaisonNeue-MonoRegular.ttf') format('truetype');
    font-weight: 400;
}


/**** PAGE LAYOUT *****/
body{
    background:             black;
    margin:                 0;
    font-family:            'Maison Neue Mono';
}

main{
    margin:                 0;
    max-width:              100vw;
    display:                grid;
    align-content:          start;
    justify-content:        center;
}

main.debug{
    justify-content:        start;
    margin-left:            10vw;
}
.hidden{
    display:                none;
}


/**** VISUAL COMPONENT CONTAINERS *****/
.svg-container, .overlay-container{
    grid-area:              1 / 1 / 2 / 2;
    height:                 100vh;
    max-width:              100vh;
}

.debug .svg-container, .debug .overlay-container{
    height:                 70vh;
    border:                 white solid 5px
}


/**** TEXT CONTAINER & TYPOGRAPHY *****/
.text-container{
    display:                grid;
    align-items:            start;
    justify-items:          center;
    height:                 100vh;
    width:                  100%;
    text-align:             center;
}



/**** SVG SCENE *****/
svg#canvas{
    width:                  100%;
    height:                 100%;
}


/**** SVG TEXT ANNOTATION *****/
.main-title{
    font-family:            'Londrina Solid', serif;
    fill:                   var(--he-navy);
    font-size:              120px;   
    text-transform:         uppercase;
    stroke-width:           2.5px;
    stroke:                 #fff;
}
.main-title,
.overlays, .subTitles, .labels,
.overlays *, .subTitles * , .labels * {
    text-anchor: middle;
}
.subTitles{
    font-family:            'Londrina Solid', serif;
    letter-spacing:         1px;
    fill:                   var(--he-navy);
    font-size:              50px;
    stroke-width:           0.5px;
    stroke:                 #fff;
    text-shadow:            #fff 2px 2px 4px;
}
.overlays{
    font-weight:            900;
    font-size:              24px;
    fill:                   var(--he-navy);
}
.labels{
    font-family:            'Londrina Solid', serif;
    font-weight:            500;
    font-size:              28px;
    fill:                   #fff;
    letter-spacing:         0.5px;    
    text-shadow:            #000 1px 1px 3px;
}


/**** SVG OVERLAY: LAYER AND COMPONENTS *****/
#fs-overlay{
    fill:                   #000;
}
#logo-group.centered{
    transform: translate(540px, 540px) scale(4)
} 
#logo-group.bottom{
    transform: translate(540px, 1000px) scale(3.5)
} 
.logo{
    /* fill:                   var(--he-green); */
    fill:                   #fff;
}





/**** HTML CONTROLS OVERLAY *****/
.controls-container{
    position:       fixed;
    bottom:         2.5vh;
    right:          2.5vh;
}
.buttons-container{
    width:              100vw;
    display:            flex;
    justify-content:    end;
    align-content:      center;
}
button{
    margin:                 0 0.25vw;
    width:                  8vw;
    height:                 2vw;
    font-size:              1vw;
    font-family:            'Maison Neue Mono';
    background-color:       var(--he-green)
}
button:active{
    background-color:       palevioletred;
}

/**** PRINT STYLESEHEET*****/